/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
nav,
footer,
header,
aside {
  display: block;
}
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}
/*-------------------------------------*/

.header {
  position: relative;
  /* border: 1px solid blue; */
  background: #cb2d41;
  height: 7vh;
  padding: 15px 5px;
  text-align: center;
}

.main {
  position: relative;
  /* border: 1px solid green; */
  display: flex;
  flex-direction: row;
  height: 86vh;
}

.footer {
  position: relative;
  /* border: 1px solid red; */
  background: #585656;
  height: 7vh;
  padding: 15px 5px;
  text-align: center;
}

.sidebar {
  position: relative;
  /* border: 1px solid yellow; */
  background: #0eecc7;
  width: 15%;
  padding: 15px 5px;
  text-align: center;
}

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  /* border: 1px solid purple; */
  background: #7bff5b;
  width: 85%;
  height: 100%;
  padding: 15px 5px;
  text-align: center;
}

.title-block {
  background: #7f5bff;
  padding: 15px 5px;
}

.text-block {
  background: #7006b6;
  padding: 15px 5px;
}

.column-block {
  background: #5f0a23;
  display: flex;
  gap: 1rem;
  flex-direction: row;
  justify-content: center;
  padding: 15px 5px;
  color: #fff;
}

.column-block .elem {
  background: #340238;
  padding: 15px 5px;
}
